alias ll='ls -alFh'
alias proxy_on='export all_proxy=socks5://127.0.0.1:7890'
alias proxy_off='unset all_proxy'
alias proxy_status='env | grep PROXY'
alias git-log='git log --pretty=oneline --all --graph --abbrev-commit'
alias tmp='mkdir -p /tmp/test && cd /tmp/test'
