# use shell is fish


alias ll='ls -alFh'
# alias proxy_on='export all_proxy=socks5://127.0.0.1:7890'
# alias proxy_off='unset all_proxy'
# alias proxy_status='env | grep PROXY'
alias git-log='git log --pretty=oneline --all --graph --abbrev-commit'
alias tmp='mkdir -p /tmp/test && cd /tmp/test'
alias mosaic='python3 /home/niu/jyy-os/04-数学视角的操作系统/mosaic/mosaic.py' 
alias collect='python3 /home/niu/jyy-os/04-数学视角的操作系统/mosaic/collect.py' 
alias gdb='gdb -tui'
alias py='/usr/bin/env python3'
alias man='man --nh'
alias tree='tree -C'

# use fzf version
alias fvim='vim (find . | fzf)'
# change current directory to directory of target file
alias fcd='cd (dirname (find . | fzf))'
alias fcat='cat (find . | fzf)'

alias icat='kitten icat'

